// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';
@import 'colors';

// #content-container
	#content-container {
		margin-top: 10%;
		color: $font-color-body;
	}

	@media (min-width: 1400px) {
		#content-container {
			width: $width4;
			margin-left: $width4-margin;
		}
	}

	@media (min-width: 920px) and (max-width: 1399px) {
		#content-container {
			width: $width1;
			margin-left: $width1-margin;
		}
	}

// #error-container
	#error-container {
		width: 100%;
		margin-top: 60px;
	}

// customized
	// .input-form
		.input-form {
			@media (min-width: 1400px) {
				input[type='submit'], button {
					margin-top: 15px;
				}
			}

			@media (max-width: 1399px) {
				input[type='submit'], button {
					margin-top: 10px;
				}
			}
		}