// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';
@import 'colors';

// #body-container
	#body-container {
		width: 100%;
		top: 45%;
		transform: translateY(-50%);
		position: absolute;
		background-image: url(asset-path('preview-1.jpg'));
		background-repeat: no-repeat;
		background-attachment: fixed;
		padding: 3% 0 3% 0;
	}

	@media (min-width: 1400px) {
		#body-container {
			background-size: 100% auto;
		}
	}

	@media (min-width: 920px) and (max-width: 1399px) {
		#body-container {
			background-size: auto auto;
		}
	}

// #content-container
	#content-container {
		margin-top: 0;
	}

// #error-container
	#error-container {
		margin-top: 5%;
	} 

// #panel
	#panel {
		margin-top: 6px;
		color: #337ab7;
	}

	#panel a {
		cursor: pointer;
	}

// customized
	// .input-form
		.input-form {
			input[type='submit'] {
				margin-top: 0;
			}
		}