// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';
@import 'colors';

// #content-container
	@media (min-width: 1400px) {
		#content-container {
			width: $width1;
			margin-left: $width1-margin;
		}
	}

	@media (min-width: 920px) and (max-width: 1399px) {
		#content-container {
			width: $width2;
			margin-left: $width2-margin;
		}
	}

// #submit-button
	#submit-button {
		display: none;
		position: absolute;
		right: 0px;
		width: $height-input;
		height: $height-input;
		line-height: $height-input;
		top: 0px !important;
		text-align: center;
		z-index: 2;
	}

	#submit-button:hover {
		cursor: pointer;
		color: #666;
	}

// #notes-list
	#notes-list {
		width: 100%;
		margin-top: 8%;
	}

	// .note
		.note {
			position: relative;
		}

		.note:hover {
			cursor: pointer;
		}

		.note:not(:last-of-type) {
			border-bottom: 1px solid #eee;
		}

		.note > .content {
			width: 91.65%;
			padding: 15px;
			color: #555;
			position: relative;
		}

		/* .note > .edit-box */
		.edit-box {
			width: 8.35%;
			text-align: center;
			color: rgba(70, 40, 40, 0.5);
			height: 100%;
			right: 0;
			position: absolute;
		}

		.edit-box span {
			position: relative;
			top: 50%;
	  	transform: translateY(-50%);
		}

		.edit-box span:hover {
			color: rgba(70, 40, 40, 0.7);
		}
	/* /.note */