// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';
@import 'colors';

// #content-container
	@media (min-width: 1400px) {
		#content-container {
			width: $width1;
			margin-left: $width1-margin;
		}
	}

	@media (min-width: 1000px) and (max-width: 1399px) {
		#content-container {
			width: $width2;
			margin-left: $width2-margin;
		}
	}

//.settings-item
	.settings-item {
		padding: 10px 0 10px 0;

		&:not(:last-of-type) {
			border-bottom: 1px solid $border-color;
		}
	}