// common
	$border-color: #eee;
	$color1: #6FC7AA;
	$color2: #BAE0D4;

// menu
	//background
		$menu: #fff;
		$menu-selected: $color1;
		$menu-hover: $color2;

	//font
		$menu-font-selected: #fff;
		$menu-font-hover: #fff;

//font
	$font-color-body: #555;