// width
	$width1: 100%/3;
	$width1-margin: (100%-$width1)/2;

	$width2: 50%;
	$width2-margin: 25%;

	$width3: 100%/3*2;
	$width3-margin: (100%-$width3)/2;

	$width4: 25%;
	$width4-margin: 37.5%;

// menu
	$height-menu: 41px;

// input[type='text']
	$height-input: 35px;

// input[type='submit']
	$height-submit: 45px;